{% extends 'blog/base.html' %}

{% block content %}

<div class="d-flex justify-content-center h-100">
    <div class="user_card">

        <h2>Log in</h2>

        <div class="d-flex justify-content-center form_container">

            <form method="POST" action="">
                {% csrf_token %}

                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <input type="text" name="username" placeholder="Username" class="form-control">
                    </div>
                </div>

                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <input type="password" name="password" placeholder="Password" class="form-control">
                    </div>
                </div>

                <input type="submit" name="Log in" value="Log in" class="btn btn-success">
            </form>
        </div>

        {% for message in messages %}

            <p id="messages">
                {{message}}
            </p>

        {% endfor %}

    </div>

</div>

{% endblock %}