{% extends 'blog/base.html' %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "error" %}

                <div id="messages" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Whoops!</strong> {{message}}

            {% endif %}
            {% if message.tags == "success" %}

                <div id="messages" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Yay!</strong> {{message}}

            {% endif %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

        {% endfor %}
    {% endif %}

<div class="d-flex justify-content-center h-100">
    <div class="user_card">

        <h2>Log in</h2>

        <div class="d-flex justify-content-center form_container">

            <form method="POST" action="">
                {% csrf_token %}

                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <input type="text" name="username" placeholder="Username" class="form-control">
                    </div>
                </div>

                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <input type="password" name="password" placeholder="Password" class="form-control">
                    </div>
                </div>

                <input type="submit" name="Log in" value="Log in" class="btn btn-success">
            </form>
        </div>

    </div>

</div>

{% endblock %}