{% extends 'blog/base.html' %}

{% block content %}

<div class="d-flex justify-content-center h-100">
    <div class="user_card">

        <h2>Log in</h2>

        <div class="d-flex justify-content-center form_container">

            <form method="POST" action="">
                {% csrf_token %}

                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <input type="text" name="username" placeholder="Username" class="form-control">
                    </div>
                </div>

                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <input type="password" name="password" placeholder="Password" class="form-control">
                    </div>
                </div>

                <input type="submit" name="Log in" value="Log in" class="btn btn-success">
            </form>
        </div>

        {% for message in messages %}

            <p id="messages">
                {{message}}
            </p>

        {% endfor %}

    </div>  

</div>

<script>

    var form_fields = document.getElementsByTagName('input');
    form_fields[1].placeholder='Username';
    form_fields[2].placeholder='Email';
    form_fields[3].placeholder='Enter password';
    form_fields[4].placeholder='Re-enter password';

    for (var field in form_fields) {
        form_fields[field].className += ' form-control';
    }

</script>
        
{% endblock %}