{% extends 'blog/base.html' %}

{% block content %}

<div class="row">

    {% if user.is_authenticated %}

    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
        <a href="{% url 'create_album' %}" class="btn btn-primary">
            <i class="bi bi-folder-plus"></i> New Album
        </a>
    </div>

    {% endif %}


    {% for message in messages %}

        <div id="messages" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Whoops!</strong> {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endfor %}

    <h1>Your Albums</h1>

    {% for album in albums %}

    <a href="{% url 'album_detail' album_id=album.pk %}"
       class="album col bg-light">
        <article class="album col bg-light">
            <img src="{{ album.photos.first.image.url }}" alt="{{ album.photos.first.caption }}" width="200">
            <div class="album-info">
                <h2>{{ album.title }}</h2>
                <p class="published-date">Created on: {{ album.created_at }}</p>
            </div>
        </article>
    </a>

    {% endfor %}
</div>

{% endblock %}