{% extends 'blog/base.html' %}

{% block content %}

<div class="d-flex justify-content-center h-100">
    <div class="user_card">

        <h2>Sign up</h2>

        <div class="d-flex justify-content-center form_container">

            <form method="POST" action="">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="id_username" class="form-label">{{ form.username.label }}</label>
                    {{ form.username }}
                    {% if form.username.errors %} 
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.username.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="id_email" class="form-label">{{ form.email.label }}</label>
                    {{ form.email }}
                    {% if form.email.errors %} 
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="id_password1" class="form-label">{{ form.password1.label }}</label>
                    {{ form.password1 }}
                    {% if form.password1.errors %} 
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.password1.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="id_password2" class="form-label">{{ form.password2.label }}</label>
                        {{ form.password2 }}
                        {% if form.password2.errors %} 
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.password2.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    </div>
                </div>

                <input type="submit" name="Create user" value="Create user" class="btn btn-success">
            </form>
        </div>
        <!-- {{ form.errors }} -->
    </div>  

</div>

<script>

    var form_fields = document.getElementsByTagName('input');
    form_fields[1].placeholder='Username';
    form_fields[2].placeholder='Email';
    form_fields[3].placeholder='Enter password';
    form_fields[4].placeholder='Re-enter password';

    for (var field in form_fields) {
        form_fields[field].className += ' form-control';
    }

</script>
        
{% endblock %}